{
    "name": "{{ name }}",
    "build": {
        "dockerfile": "../.docker/{{ dockerfile_name }}",
        "context": "..",
        "args": {
            "USER_NAME": "{{ user | default('${localEnv:USER}') }}",
            "USER_PASSWORD": "${localEnv:USER}",
            "USER_UID": "1000",
            "USER_GID": "1000"
        }
    },
    "customizations": {
        "vscode": {
            "extensions": [
            ],
            "settings": {
                "remote.autoForwardPorts": {{ remote_auto_forward_ports | default('false') }},
                "remote.restoreForwardedPorts": {{ remote_restore_forwarded_ports | default('false') }},
            }
        }
    },
    "containerEnv": {
        "DISPLAY": "unix:0",
    },
    "runArgs": [
        "--network={{ network_mode | default('host') }}",
    ],
    "forwardPorts": [],
    "workspaceMount": "source=${localWorkspaceFolder},target=/home/${localEnv:USER}/workspace/,type=bind,consistency=cached",
    "workspaceFolder": "/home/${localEnv:USER}/workspace/",
    "mounts": [
        {% if mount_ssh_keys | default(true) %}
            "source=${env:HOME}/.ssh,target=/home/${localEnv:USER}/.ssh,type=bind,consistency=cached",
        {% endif %}
    ]
}