{
    "name": "{{ name | required('name') }}",
{%- if dockerfile %}
    "build": {
        "dockerfile": "{{ dockerfile }}",
        "context": "..",
        "args": {
            "USER_NAME": "{{ user | default('${localEnv:USER}') }}",
            "USER_PASSWORD": "${localEnv:USER}",
            "USER_UID": "1000",
            "USER_GID": "1000"
        }
    },
{%- else %}
    "image": "{{ image | required('dockerfile or image') }}",
{%- endif %}
    "customizations": {
        "vscode": {
            "extensions": [
            ],
            "settings": {
                "remote.autoForwardPorts": {{ remote_auto_forward_ports | tojson |default('false') }},
                "remote.restoreForwardedPorts": {{ remote_restore_forwarded_ports | tojson |default('false') }},
            }
        }
    },
    "containerEnv": {
    {%- if enable_x11 | default(true) %}
        "DISPLAY": "unix:0",
    {%- endif %}
    },
    "runArgs": [
    {%- if enable_x11 | default(true) %}
        "-e", "DISPLAY",
        "-v", "/tmp/.X11-unix:/tmp/.X11-unix",
    {%- endif %}
    {%- if network_mode | default(true) %}
        "--network={{ network_mode | default('host') }}",
    {%- endif %}
    ],
    "forwardPorts": [],
    "workspaceMount": "source=${localWorkspaceFolder},target=/home/${localEnv:USER}/workspace/,type=bind,consistency=cached",
    "workspaceFolder": "/home/${localEnv:USER}/workspace/",
    "mounts": [
    {%- if mount_ssh_keys | default(true) %}
        "source=${env:HOME}/.ssh,target=/home/${localEnv:USER}/.ssh,type=bind,consistency=cached",
    {%- endif %}
    ]
}