name: Check Pull Request

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  run_pre_commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v6
      with:
        python-version: '3.11'

    - uses: pre-commit/action@v3.0.1
